body {
   background-color: #f9f9f9;
   font-family: 'Arial', sans-serif;
   color: #333;
}

header {
   background-color: white;
}

header a {
   text-decoration: none;
   color: #333;
}

header a:hover {
   color: #000;
}

button {
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #004d40;
}

.border {
   border: 1px solid #e0e0e0;
}

input,
select {
   background-color: white;
   color: #333;
   border: 1px solid #e0e0e0;
}

input:focus,
select:focus {
   outline: none;
   border-color: #004d40;
}

h1,
h2,
h3 {
   color: #333;
}

h1 {
   font-size: 2.5rem;
}

h2 {
   font-size: 2rem;
}

h3 {
   font-size: 1.25rem;
}
